---
# Only the main Sass file needs front matter (the dashes are enough)
# If you want more components, go check https://github.com/Dogfalo/materialize/tree/8e699927cb34104f7e3967cd1e11bad16ed03227/sass/components
---
@charset "UTF-8";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #222222;
$header-color:     #333333;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$navbar-height: 71px;
$navbar-height-mobile: 56px;

$button-color: #fff;
$button-color-raised: $background-color;
$button-height: 2em;
$button-font-size-shared: 0.8rem;
$button-large-icon-font-size: 1.3rem;
$button-line-height: 2em;

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "prefixer",
        "mixins",
        "color",
        "variables",
        "normalize",
        "global",
        "icons-material-design",
        "clarkson-icons",
        "grid",
        "navbar",
        "typography",
        "sideNav",
        "covers",
        "tweaks",
        "syntax-highlighting",
        "animations",
        "buttons"
;
