---
---
{% include head.html %}
<body>
<div id="main" class="m-scene">
    <a href="{{site.baseurl}}/theme" class="scene_element cover clarkson-theme-cover theme" data-pt="theme-cover-home">
        <div class="cover-content scene_element exit-fadeout enter-fadein">
            <span class="cover-icon icon-theme-icon"></span>
            <h2>Clarkson Theme</h2>
            <ul class="tag-list">
                <li class="tag">Gulp</li>
                <li class="tag">Bower</li>
            </ul>
        </div>
    </a>
    <a href="{{site.baseurl}}/core" class="scene_element cover clarkson-core-cover core" data-pt="core-cover-home">
        <div class="cover-content scene_element exit-fadeout enter-fadein">
            <span class="cover-icon icon-core-icon"></span>
            <h2>Clarkson Core</h2>
            <ul class="tag-list">
                <li class="tag">Twig</li>
                <li class="tag">Bower</li>
            </ul>
        </div>
    </a>
</div>
{% include scripts.html %}
</body>