<article {{ post_class( object.get_ID() ) }}>
	{% if object.data is empty %}
		<header>
			<h1 class="entry-title">Sorry</h1>
		</header>
		<div class="entry-content">
			<p>This object has no data</p>
		</div>
	{% else %}
		<header>
			<h1 class="entry-title">{{ object.data.title }}</h1>
		</header>
		<div class="entry-content">
			{{ object.data.content | raw }}
		</div>
	{% endif %}
</article>
