{% include 'defaults/head.twig' %}

<main class="main">
    {% block content %}
        {% include 'partials/content.twig' %}
    {% endblock %}
</main>
<aside class="sidebar">
    {% block sidebar %}
    {% endblock %}
</aside>

{% include 'defaults/footer.twig' %}