{% include 'defaults/head.twig' %}

<main class="main" id="main">
{% block content %}
    {% if objects is empty %}
        {% include 'partials/empty.twig' %}
    {% else %}
        {% for object in objects %}
            {% include 'partials/content.twig' %}
        {% endfor %}
    {% endif %}
{% endblock %}
</main>

{% include 'defaults/footer.twig' %}