<nav class="nav-main">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <a href="{{site.baseurl}}/" class="brand-logo">WP Clarkson</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="unstyled right hide-on-small-only j-nav">
                    <li><a href="{{site.baseurl}}/">Home</a></li>
                    <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
                    <li><a href="{{site.baseurl}}/core/">Core</a></li>
                    <li><a href="{{site.baseurl}}/theme/">Theme</a></li>
                    <li><a href="{{site.baseurl}}/guides/">Guides</a></li>
                </ul>
            </div>
        </div>
        <ul class="unstyled side-nav hide-on-med-and-up j-nav" id="mobile-nav">
            <li class="clarkson-title">
                WP Clarkson
            </li>
            <li>
                <a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
                <li><a href="{{site.baseurl}}/core/">Core</a></li>
                <li><a href="{{site.baseurl}}/guides/">Guides</a></li>
        </ul>
    </div>
</nav>