.covers {
  overflow: hidden;
}
.cover {
  width: 80%;
  margin: 0 auto $gutter-width auto;


  opacity: 1;
  white-space: nowrap;
  z-index: 2;

  text-align: center;

  /* Flexbox options */
  @include flexbox();
  @include justify-content( center );
  @include align( center );

  &:active,
  &:hover,
  &:visited,
  &:link {
    color: $off-black;
  }


  .cover-content {
    padding-top: 107px;
    position: relative;
    h2 {
      color: white;
    }

    .project-icon {
      position: absolute;
      top: $gutter-width;
      left: 0;
      right: 0;
      display: block;
      font-size: 100px;
      color: white;
      text-align: center;
      transition: font-size .5s;
    }

    .tag-list {
      list-style-type: none;
      padding: 0;

      /* Flexbox options */
      @include flexbox();
      @include justify-content( space-around );

      .tag {
        color: rgba(255,255,255, 0.7);
        display: inline-block;
        padding: 0 .5em;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .cover-content {
      .project-icon {
        font-size: 105px;
      }
    }

    .cover-arrow {
      color: rgba(255,255,255,1);
      font-size: 110px;
    }
  }
}


@media #{$medium-and-up} {
  .covers {
    @include flexbox();
    @include justify-content( center );
    @include align( space-around );
  }
  .cover {
    width: 45%;
    max-width: 350px;
  }
}