.cover {
  position: fixed;
  width: 100%;
  height: 50%;
  overflow: visible;
  opacity: 1;
  white-space: nowrap;
  z-index: 2;

  text-align: center;

  /* Flexbox options */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  &:active,
  &:hover,
  &:visited,
  &:link {
    color: $off-black;
  }

  &.animate {
    transition: height .5s, opacity .5s;
  }

  &.clarkson-core-cover {
    bottom: 0;
  }

  &.full {
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &.minified {
    height: 0;

    .cover-content {
      display: none;
    }

    .cover-arrow {
      display: block;
    }
  }

  &.background {
    z-index: -1;
  }

  .cover-arrow {
    display: none;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.7);
    transition: font-size .5s, color .5s;
  }

  .cover-content {
    h2 {
      color: white;
    }

    .cover-icon {
      display: block;
      font-size: 100px;
      color: white;
      text-align: center;
      transition: font-size .5s;
    }

    .tag-list {
      list-style-type: none;
      padding: 0;

      /* Flexbox options */
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;

      .tag {
        color: rgba(255,255,255, 0.7);
        display: inline-block;
        padding: 0 .5em;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .cover-content {
      .cover-icon {
        font-size: 110px;
      }
    }

    .cover-arrow {
      color: rgba(255,255,255,1);
      font-size: 110px;
    }
  }
}

.clarkson-content {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;

  &.animate {
    transition: opacity 0.5s;
  }

  &.hidden {
    opacity: 0;
  }
}

@media #{$medium-and-up} {
  .cover {
    width: 50%;
    height: 100%;

    &.animate {
      transition: width .5s, opacity .5s;
    }

    &.clarkson-core-cover {
      right: 0;
      bottom: auto;
    }

    &.full {
      width: 97%;
      height: 100%;
    }

    &.minified {
      width: 3%;
      height: 100%;
    }
  }

}
