html {
  overflow-y: scroll;
}
/*
    DOCUMENTATION
*/
.doc-pagination {
  div {
    i.material-icons {
      vertical-align: middle;
    }
  }
}

/*
    GENERAL
*/

pre {
  padding: 1rem;
  background: color("grey", "darken-2");
  word-wrap: normal;
  word-break: normal;
  border-radius: 5px;

  code {
    background-color: transparent;
    //color: white;
  }

}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px;
  border-radius: 3px;
  font-size: 0.9em;
  background: #fff;
}

.code-label {
  margin-bottom: 0;
  background: color("grey", "darken-2");
  padding: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

.code-label + div pre {
  margin-top: 0;
  border-radius: 0;
}

.hero-header {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  font-size: $h1-fontsize / 1.2;
  margin-top: $h1-fontsize;
  margin-bottom: $h1-fontsize;
}

.main {
  ul {
    padding-left: 1.5rem;
  }
  ul li {
    list-style-type: disc;
  }
}

/*
    HOME
*/
// Pull the first item to the top of the parent container
.home .main > *:first-child {
  margin-top: 0;
}

.no-border {
  border: none;
  .collection-item & {
    border: none;
  }
}


#menu-docs.sticky {
  position: fixed;
  top: 0;
  //width: 100%;
}

.sticky + .content {
padding-top: 60px;
}

.collection.docs {
  .collection-item {
    color: $off-black;
    font-weight: 500;
  }

  .children {
    background: #f5f5f5;
    font-size: 0.85rem;
  }
}


// Table of Contents on Home
.menu-toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.menu-item {
  //line-height: 1.5rem;
  padding: 10px 20px 10px 0;
  margin: 0;
  font-size: 1.1rem;

  &:first-child {
    padding-top: 0;
  }
}

// Features deprecated
.features-header {
  text-align: center;
}

.features .feature {
  margin-bottom: 1.5em;
}

.post-thumbnail {
  width: 100%;
}

.content-info {
  padding: 1em 0 0 0;
  margin: 0;
  background: #333;
  color: $navbar-font-color;

}
/*
    MEDIA EXCEPTIONS
*/
@media #{$medium-and-up} {

  .post-thumbnail {
    float: left;
    width: 35%;
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .collection.docs {
    margin-top: 25px;
  }

  .content-view {
    margin-top: 20px;
  }

  // .main {
  //   font-size: 18px;
  //   line-height: 1.618;
  // }
}

.core-accent {
  a {
    color: #0089c2;
    //&.btn {
    //  color: $button-color-raised;
    //}
  }
  a:hover {
    color: #2f89c6;
  }

  blockquote {
    border-color: #2f89c6; 
  }

}

.theme-accent {
  a {
    color: #00b76a;
  }
  a:hover {
    color: #2ab866;
  }
  blockquote {
    border-color: #00b76a;
  }
}

@media #{$small-and-down} {
  #docs {
    @include flexbox();
    flex-direction: column-reverse;
  }
}
