<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div id="main">
    <div class="clarkson-content">
        {% include header.html %}
        <div class="row content-view">
            <div class="col s12 m10 l8 offset-m1 offset-l2 {{page.type}}-accent">
                {{content}}
            </div>
        </div>
    </div>
    {% if page.type == 'theme' %}
    <a href="{{site.baseurl}}/" class="scene_element cover clarkson-core-cover core minified" data-pt="core-cover-min">
        <span class='scene_element icon-arrow-core cover-arrow hide-on-small-only'></span>
    </a>
    <a href="{{site.baseurl}}/" class="scene_element cover clarkson-theme-cover theme full" data-pt="core-cover-min"></a>
    {% else %}
    <a href="{{site.baseurl}}/" class="scene_element cover clarkson-theme-cover theme minified" data-pt="theme-cover-min">
        <span class='scene_element icon-arrow-theme cover-arrow hide-on-small-only'></span>
    </a>
    <a href="{{site.baseurl}}/" class="scene_element cover clarkson-core-cover core full" data-pt="core-cover-min"></a>
    {% endif %}
</div>
{% include scripts.html %}
</body>
</html>