---
layout: default-project
---
<div class="row" id="docs">
    <div class="col s12 m4">
        <ul class="unstyled collection docs">
            {% for item in site.data.docs[page.type] %}
            <li class="collection-item-li">
                <!-- hack to get last part of current page.url ;) -->
                {% assign urlParts = page.url | split: "/" %}
                {% assign current = urlParts.last %}
                <a href="{{site.baseurl}}/{{page.type}}/docs/{{item.docname}}.html" class="collection-item {% if current == item.docname %}active{% endif %} ">
                    {{item.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s12 m8 main">
        {{content}}
    </div>
</div>