---
layout: default
---

<h2 class="hero-header flow-text">Clarkson is a modern set of tools to take WordPress theme development without losing touch with WordPress.</h2>

<div class="covers">
    <a href="{{site.baseurl}}/theme" class="cover clarkson-theme-cover theme">
        <div class="cover-content ">
            <span class="project-icon icon-theme-icon"></span>
            <h2>Clarkson Theme</h2>
            <ul class="tag-list">
                <li class="tag">Twig</li>
                <li class="tag">Gulp</li>
                <li class="tag">BrowserSync</li>
                <li class="tag">NPM</li>
            </ul>
        </div>
    </a>
    <a href="{{site.baseurl}}/core" class="cover clarkson-core-cover core">
        <div class="cover-content">
            <span class="project-icon icon-core-icon"></span>
            <h2>Clarkson Core</h2>
            <ul class="tag-list">
                <li class="tag">Twig</li>
                <li class="tag">WordPress objects</li>
            </ul>
        </div>
    </a>
</div>

<article>
    <p>At <a href="https://level-level.com/">Level Level</a> we created an Open Source plugin <a href="/core/">‘Clarkson Core’</a>: a Twig based template engine with under the hood a collection of Object-oriented WordPress classes and some lightweight handy features.
        This, in combination with a basic modern <a href="/theme/">starter-theme</a> and some agreed upon guidelines, contributes to a workflow that keeps comprehensive projects aligned with your high technical goals. Meanwhile keeping the WordPress way of development in mind.
        <br>It's the missing WordPress theming layer.</p>
</article>
<!-- <hr>
<h3>Built with Clarkson</h3>
<p>These brands have build their website with the use of Clarkson.</p> -->