---
layout: project-default
---
<div class="row" id="docs">
    <div class="col s12 m4">
        <ul class="unstyled collection docs">
            {% assign subpages = '' %}

            {% if page.type == 'docs' %}
                {% assign subpages = site.data.docs[page.project] %}
            {% endif %}

            {% if page.type == 'guides' %}
                {% assign subpages = site.data.guides %}
            {% endif %}

            {% for item in subpages %}
                <li class="collection-item-li">
                    <!-- hack to get last part of current page.url ;) -->
                    {% assign urlParts = page.url | split: "/" %}
                    {% assign current = urlParts.last %}

                    {% if page.project %}
                        {% assign projectpath = page.project | append: "/" %}
                    {% endif %}

                    <a href="{{site.baseurl}}/{{ projectpath }}{{page.type}}/{{item.docname}}.html" class="collection-item {% if current == item.docname %}active{% endif %} ">
                        {{item.title}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s12 m8 main">
        {{content}}
    </div>
</div>